.game {
  display: flex;
  align-items: center;
  height: 100vh;

  .game-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -50px;

    .link {
      text-decoration: none;
      width: 140px;
    }

    .home-btn {
      display: flex;
      font-size: 18px;
      color: #DB0038;
      gap: 10px;
      cursor: pointer;
    }
  }
}