.game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: -50px;

    .link {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 10px;
      margin-left: 10px;
      text-decoration: none;
      width: 140px;
    }

    .home-btn {
      display: flex;
      font-size: 18px;
      color: #DB0038;
      gap: 10px;
      cursor: pointer;
    }
  }
}